<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
        <binding name="BasicHttpsBinding_IService11">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <basicHttpsBinding>
        <binding name="BasicHttpsBinding_IService1" maxReceivedMessageSize="2147483647" />
      </basicHttpsBinding>
    </bindings>
    <client>
      <endpoint address="https://sourceservice.azurewebsites.net/service.svc"
        behaviorConfiguration="ServiceBehaviour" binding="basicHttpsBinding"
        bindingConfiguration="BasicHttpsBinding_IService1" contract="SourceService.IService1"
        name="SourceService.IService1" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceBehaviour">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>