<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpsBinding>
        <binding name="BasicHttpsBinding_IService1"
          maxReceivedMessageSize="2147483647" />
      </basicHttpsBinding>
    </bindings>
    <client>
      <endpoint address="https://googlesourceservice.azurewebsites.net/Source.svc"
        binding="basicHttpsBinding" bindingConfiguration="BasicHttpsBinding_IService1"
        contract="CloudSourceService.IService1" name="CloudSourceService.IService1"
			  behaviorConfiguration="ServiceBehaviour" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceBehaviour">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>